<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chefü</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
<!--                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="/"><font color=white>Chef</font><font color=orange>ü</font><font color=white> Landing</font></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
<!--             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Enter Yo<font color=orange>ü</font>r Ingredients

                </h1>
            </div>
        </div>
        <!-- /.row -->

		<form class="chefu-form" action="/ask_chefu" method="post">
		<div class="form-group">
			<div style="padding: 10px">
			  <label for="sel1">Ingredient 1:</label>
			  <select class="form-control" name="item1" id="sel1">
			    <option value="Tomato">Tomatos</option>
			    <option value="Pork">Pork</option>
			    <option value="Brocolli">Brocolli</option>
			    <option value="Chicken">Chicken</option>
			  </select>
		  </div>
		  <div style="padding: 10px">
			  <label for="sel2">Ingredient 2:</label>
			  <select class="form-control" name="item2" id="sel2">
			    <option value="null">No second ingredient.</option>
			    <option value="Tomato">Tomatos</option>
			    <option value="Pork">Pork</option>
			    <option value="Brocolli">Brocolli</option>
			    <option value="Chicken">Chicken</option>
			  </select>
		  </div>
		  <input type="submit" class="btn btn-info" value="Ask Chefü">
		</div>
		</form>
		
		<hr>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/img/tomatos.jpg" alt="">
                </a>
                <h2>
                    Tomato
                </h2>
                <p>Is it a grape? Is it a cherry? NO. It's a tomato!</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/img/pork.jpg" alt="">
                </a>
                <h2>
                    Pork
                </h2>
                <p>Oinkway. Oinkway. Orway, atway eastlay atthay isway atwhay Iway 
ouldway aysay ifway Iway ereway aliveway.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/img/brocolli.jpg" alt="">
                </a>
                <h2>
                    Brocolli
                </h2>
                <p>The Powerpuff Girls once ate my cousins.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="/img/chicken.jpg" alt="">
                <h2>
                    Chicken
                </h2>
                <p>Why did I have to cross the road...</p>
            </div>
        </div>


        <div id="ModalGallery" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>



        <!-- /.row -->

        <!-- Projects Row -->
<!--         <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Five</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Six</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Pagination -->
<!--         <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- /.row -->

        <hr>

        <!-- Footer -->
<!--         <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div> -->
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/chefuClient.js"></script>

</body>
